/* <!-- Thodsawas Ubol CodeCamp#19 --> */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: right;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Intro */
.intro-container {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 40px 20px; 
    background-color: #fff; 
    margin: 0 auto; 
    max-width: 1200px; 
}

.intro-text {
    flex: 3;
    padding-right: 20px; 
}

.intro-text h1 {
    font-size: 36px;
    color: #333;
}

.intro-text p {
    font-size: 16px;
    margin: 20px 0;
    color: #555;
}

button {
    background-color: #f74b57;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #d13c48;
}

.intro-image {
    flex: 2;
    display: flex;
    justify-content: flex-end; 
}

.intro-image img {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover; 
}

/* Posts */
.posts-wrapper {
    background-color: #f4faff; 
    padding: 20px 0; 
}

.posts-container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
}

.posts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.posts-header p:first-child {
    font-size: 18px;
    color: #333;
}

.posts-header p {
    font-size: 14px;
    color: deepskyblue;
    cursor: pointer;
}

.posts-contents {
    display: flex;
    gap: 20px; 
}

.Content-L, .Content-R {
    background-color: #fff;
    padding: 20px;
    width: calc(50% - 10px); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer; 
}

.Content-L:hover, .Content-R:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.Content-L h2, .Content-R h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.Content-L p, .Content-R p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.L-info, .R-info {
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    margin-right: 55%;
    margin-bottom: 15px;
    font-size: 12px;
    color: #888;
}

/* Works */

.works-container {
    display: flex; 
    flex-direction: column;
    align-items: flex-start; 
    justify-content: space-between; 
    padding: 40px 20px; 
    background-color: #fff; 
    margin: 0 auto; 
    max-width: 1200px; 
}

.works-contents {
    display: flex;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0 20px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer; 
}

.works-contents:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.works-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.works-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.works-title {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.works-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.works-year {
    background-color: #000080;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 0.9rem;
}

.works-category {
    color: #666;
    font-size: 0.9rem;
}

.works-description {
    margin-top: 15px;
    color: #555;
    font-size: 0.9rem;
    line-height: 1.6;
}

footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer i:not(:first-child) {
    margin-left: 20px;
    margin-bottom: 20px;
}

footer p {
    font-size: 12px;
}
